@*@model cbsStudents.ViewModels.EventCreateVm

@{
    ViewData["Title"] = "NewCreate";
}

<h1>NewCreate</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Event.Title" class="control-label"></label>
                <input asp-for="@Model.Event.Title" class="form-control" />
                <span asp-validation-for="@Model.Event.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.EventStartDateTime" class="control-label"></label>
                <input asp-for="@Model.Event.EventStartDateTime" class="form-control" />
                <span asp-validation-for="@Model.Event.EventStartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.EventEndDateTime" class="control-label"></label>
                <input asp-for="@Model.Event.EventEndDateTime" class="form-control" />
                <span asp-validation-for="@Model.Event.EventEndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Online" /> @Html.DisplayNameFor(model => model.Online)
                </label>
            </div>
            @*
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventGenre" class="control-label"></label>
                <input asp-for="EventGenre" class="form-control" />
                <span asp-validation-for="EventGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventTypeId" class="control-label"></label>
                <select asp-for="EventTypeId" class ="form-control" asp-items="ViewBag.EventTypeId"></select>
            </div>*@
@*            <div class="form-group">
                <label asp-for="@Model.Event.VenueId" class="control-label"></label>
                <select asp-for="@Model.Event.VenueId" class ="form-control" asp-items="@Model.Venue"></select>
                    <option value="">Select Venue</option>            
            </div>*@@*
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@